{% extends 'base.html' %}

{% block conteudo %}

{% if not usuario.arquivo_exame %} 
<div class="alert alert-danger" role="alert">
    Para gerar uma solicitação de doação, primeiro, é preciso fazer o upload do seu exame médico em um arquivo .pdf 
</div>
{% endif %}

<div class="row">
    <div class="col-12 mb-5">
        <h1 class="mb-5 display-2 fw-semibold fs-3 ">Gerenciamento
            de
            Doações</h1>
    </div>

    <div class="col-6 ">
        <div class="col mb-3 bg-secondary p-3 rounded rounded-3">

            <div class="form-floating justify-content-start">
                <div>
                    <form action="/usuario/{{usuario.id}}/gerenciar-doacoes" method="get">
                        <label for="opcoes">Selecione uma unidade:</label>
                        <select class="form-select mb-2" id="opcoes" name="q" style="height: auto;" >
                            <!-- <option value="">Selecione o seu tipo sanguíneo...</option> -->
                            {% for h in hospitais %}
                                <option {{'selected' if id_hospital == h.id else ''}} value="{{h.id}}">{{h.nome}}</option>
                            {% endfor %}
                            
                        </select>
                        <button class="mt-3 btn btn-lg cor-amarelo btn-danger border-0  link_personalizado1" type="submit">Consultar dias e horários</button>
                    </form>
                    {% if frases %}
                    <span class="d-block">{{frases.dias}} </span>
                    <span class="d-block">{{frases.horarios}} </span>
                    <form action="" method="get">
                        {% if error %}
                            <label class="text-nowrap" for="date">Selecione as datas disponíveis:</label>
                            <div class="input-group has-validation">
                                <input type="datetime-local" class="form-control {{'' if error['bool'] else 'is-invalid'}}" id="date" name="data" value="{{data}}">
                                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                    {{error['mensagem']}}
                                </div>
                            </div>
                        {% else %}
                            <label class="text-nowrap" for="date">Selecione as datas disponíveis:</label>
                            <input type="datetime-local" value="{{data}}" class="form-control" id="date" name="data">
                        
                        {% endif %}
                        <input type="hidden" name="q" value="{{hospital.id}}">
                        <button class="mt-3 btn btn-lg cor-amarelo btn-danger border-0  link_personalizado1" type="submit">Agendar doação</button>
                    </form>

                    <div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-6">
        <form action="/usuario/solicitacao-doacao/cancelar" method="post">
            <div class="col mb-3 cor-amarelo p-3 rounded rounded-3">
                <div class="text-center">
                    <h2>Agenda</h2>
                </div>
                <div class="overflow-auto" style="height: 300px;">
                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in doacoes %}
                                <tr>
                                    <td class="dashed-border">
                                        <span class="d-block"><strong>{{d.data_e_hora.data}} ás {{d.data_e_hora.hora}}</strong></span>
                                        <span class="d-flex justify-content-between pe-4">
                                            <span class="d-block">
                                            Hospital: {{d.hospital.nome}}
                                            </span>
                                            <span class="d-block">
                                            Sala: {{d.hospital.sala}}
                                            </span>
                                            <span class="d-block">
                                            Situacao: {{d.situacao.nome}}
                                            </span>
                                            <input class="form-check-input" value="{{d.id}}" type="radio" name="doacao"/>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <button type="submit" {{'' if usuario.arquivo_exame else 'disabled'}}
                    class="btn btn-lg w-100 cor-amarelo btn-danger border-0 mb-3 link_personalizado1">
                    Cancelar Doação
                </button>
            </div>
        </form>
    </div>
 </div>
</div>

{% endblock %}