{% extends "base.html" %}
{% block conteudo %}

<div class="row">
    <div class="col-12 col-lg-4 d-flex justify-content-center justify-content-lg-start">
        <h1 class="display-2">Contato</h1>
    </div>
    <div class="col-12 col-lg-4 bg-secondary p-3 rounded rounded-3">
        <h2 class="display-4 ">Telefone:</h2>
            <p class="lead text-white">+55 28 9999-9999</p>
        <h2 class="display-4">E-mail:</h2>
            <p class="lead text-white">bloodcall@gmail.com</p>
    </div>
</div>

{% endblock %}