{% extends "base.html" %}
{% block conteudo %}
<div class=" row mt-5">
            <div class="col-md-8 offset-md-2 text-center bg-secondary p-2 rounded rounded-3 carousel-container">
                <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2500">
                    
                        <div class="carousel-inner">
                            <div class="carousel-item active ">
                                <div class="d-block px-5">
                                    <h1 class="display-4">Você tem o poder de fazer a diferença</h1>
                                    <p class="lead">Ao doar sangue, você oferece esperança e saúde para aqueles que mais
                                        precisam. Sua generosidade é um gesto de altruísmo e empatia que une pessoas em
                                        um objetivo comum: salvar vidas.</p>
                                    <a href="/cadastro"
                                        class="btn btn-lg border-0 w-100 cor-amarelo btn-danger mb-5 link_personalizado1">
                                        Cadastrar
                                    </a>
                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="d-block px-5">
                                    <h1 class="display-4">Seja um herói anônimo</h1>
                                    <p class="lead">Através da sua doação, você se torna um verdadeiro herói
                                        anônimo,
                                        capaz de impactar positivamente a vida de alguém. Não subestime o poder do
                                        seu
                                        sangue.</p>
                                    <a href="/cadastro"
                                        class="btn btn-lg border-0 w-100 cor-amarelo btn-danger mb-5 link_personalizado1">
                                        Cadastrar
                                    </a>
                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="d-block px-5">
                                    <h1 class="display-4">Junte-se à corrente de solidariedade</h1>
                                    <p class="lead">Junte-se a nós nessa jornada de amor ao próximo e faça parte da
                                        corrente de solidariedade. Doe sangue e seja a luz que ilumina o caminho
                                        daqueles que estão enfrentando momentos difíceis.</p>
                                    <a href="/cadastro"
                                        class="btn btn-lg border-0 w-100 cor-amarelo btn-danger mb-5 link_personalizado1">
                                        Cadastrar
                                    </a>
                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="d-block px-5">
                                    <h1 class="display-4">Sua doação importa, seu gesto é valioso</h1>
                                    <p class="lead">Sua doação importa, seu gesto é valioso. Venha fazer parte dessa
                                        missão e seja um doador de sangue. Sua atitude pode mudar vidas. Doe sangue,
                                        doe
                                        vida, doe amor!</p>
                                    <a href="/cadastro"
                                        class="btn btn-lg border-0 w-100 cor-amarelo btn-danger mb-5 link_personalizado1">
                                        Cadastrar
                                    </a>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev justify-content-start" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next justify-content-end"  type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                          </div>
                </div>
            </div>
        </div>
{% endblock %}