{% extends "base.html" %}
{% block conteudo %}

<div class="row">
    <div class="col-12 col-lg-4 d-flex justify-content-center justify-content-lg-start">
        <h1 class="display-2">Sobre Nós</h1>
    </div>
    <div class="col-12 col-lg-4 bg-secondary p-3 rounded rounded-3">
        <p class="lead">Apresentamos a Blood Call, uma empresa comprometida com a doação de sangue e saúde. Fundada em 2023, nosso objetivo é combater a escassez de sangue nos hospitais e salvar vidas. Com nossa plataforma online, conectamos doadores a locais de coleta próximos, facilitando o agendamento de doações. Seja um parceiro da Blood Call e junte-se a nós nessa missão nobre de aumentar a disponibilidade de sangue. Contate-nos para mais informações.</p>
    </div>
</div>

{% endblock %}