{% extends 'base.html' %}
{% block conteudo %}

<div >
    <h1 class="display-2">Aceitar solicitação</h1>
</div>
<div class="col-12 offset-4 col-lg-4 bg-secondary p-3 rounded rounded-3">
    <form action="" method="post">
        <div class="form-floating mb-3">
            <!-- <input type="hidden" name="id_doacao" value="{{id_doacao}}" /> -->
            <textarea  type="text" class="form-control" id="observacao" name="observacao" placeholder="Observação aqui"></textarea>
            <label for="nome">Observação (informações extras)</label>
            <button href="#" class="btn btn-success btn-lg shadow mt-5">Aceitar</button>
        </div>
        
    </form>
</div>

{% endblock %}