<nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/hospital">
            <img src="/static/img/logo.svg" alt="Logo" width="48" class="d-inline-block align-text-top">
            <span class="fs-2 fw-bold ms-2 sombra-texto">Blood Call</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="menu" class="collapse navbar-collapse justify-content-end">
            <nav class="navbar-nav sombra-texto">
                <a href="/hospital/index.html" class="nav-link active">LOGIN</a>
                <a href="/hospital/contato_hospital.html" class="nav-link">CONTATO</a>
                <a href="/hospital/sobre_hospital.html" class="nav-link">SOBRE NÓS</a>
            </nav>
        </div>
    </div>
</nav>